@{
    ViewBag.Title = "Elementary";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="Elementary">
    <table>
        <tr>
            <th>1학년</th>
            <td>
                <ul>
                    <li>우리들은 1학년</li>
                    <li>국어
                        <ul>
                            <li>듣기·말하기</li>
                            <li>읽기</li>
                            <li>쓰기</li>
                        </ul>
                    </li>
                    <li>수학</li>
                    <li>바른생활</li>
                    <li>슬기로운생활</li>
                    <li>즐거운생활</li>
                </ul>
            </td>
            <th>2학년</th>
            <td>
                <ul>
                    <li>국어
                        <ul>
                            <li>듣기·말하기</li>
                            <li>읽기</li>
                            <li>쓰기</li>
                        </ul>
                    </li>
                    <li>수학</li>
                    <li>바른생활</li>
                    <li>슬기로운생활</li>
                    <li>즐거운생활</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>3학년</th>
            <td>
                <ul>
                    <li>국어
                        <ul>
                            <li>듣기·말하기·쓰기</li>
                            <li>읽기</li>
                        </ul>
                    </li>
                    <li>도덕</li>
                    <li>사회</li>
                    <li>수학</li>
                    <li>과학</li>
                    <li>음악</li>
                    <li>미술</li>
                    <li>영어</li>
                </ul>
            </td>
            <th>4학년</th>
            <td>
                <ul>
                    <li>국어
                        <ul>
                            <li>듣기·말하기·쓰기</li>
                            <li>읽기</li>
                        </ul>
                    </li>
                    <li>도덕</li>
                    <li>사회</li>
                    <li>수학</li>
                    <li>과학</li>
                    <li>음악</li>
                    <li>미술</li>
                    <li>영어</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>5학년</th>
            <td>
                <ul>
                    <li>국어
                        <ul>
                            <li>듣기·말하기·쓰기</li>
                            <li>읽기</li>
                        </ul>
                    </li>
                    <li>도덕</li>
                    <li>사회</li>
                    <li>수학</li>
                    <li>과학</li>
                    <li>실과</li>
                    <li>음악</li>
                    <li>미술</li>
                    <li>영어</li>
                </ul>
            </td>
            <th>6학년</th>
            <td>
                <ul>
                    <li>국어
                        <ul>
                            <li>듣기·말하기·쓰기</li>
                            <li>읽기</li>
                        </ul>
                    </li>
                    <li>도덕</li>
                    <li>사회</li>
                    <li>수학</li>
                    <li>과학</li>
                    <li>실과</li>
                    <li>음악</li>
                    <li>미술</li>
                    <li>영어</li>
                </ul>
            </td>
        </tr>
    </table>
</section>
